.MatureAttempt {
  @include respond-below(md) {
    text-align: center;
  }
}

.left {
  padding: 20px 20px 20px 0;

  h2 {
    font-weight: 300;
    font-size: 40px;
    color: $color_g4;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}

.logo {
  @include flexCenter;
}

.right {
  position: relative;
  padding: 20px;
  @include flexCenter;

  img {
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  > div {
    position: absolute;
    background-color: white;
    font-size: 30px;
    padding: 10px 20px;
    bottom: -20px;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
  }
}

.char {
  margin-bottom: 20px;
  .img1 {
    padding: 20px;
    display: flex;
    justify-content: flex-end;

    img {
      width: 300px;
      border-radius: 10px;
    }
  }
  .img2 {
    padding: 20px;

    img {
      width: 300px;
      border-radius: 10px;
    }
  }

  @include respond-below(md) {
    .img1 {
      img {
        width: 100%;
      }
    }
    .img2 {
      img {
        width: 100%;
      }
    }
  }
}
