.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;

  nav {
    display: none;
  }

  .btn {
    display: unset;
    color: white;
    background-color: hsla(162, 100%, 21%, 0.2);
    border-radius: 4px;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 90px;

    .logo {
      width: 250px;
      // margin-left: -20px;
      // background-color: red;

    }

    .btn {
      width: 35px;
      height: 35px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        background-color: $color_g4;
      }
      // display: none;
    }

    @include respond-below(md) {
      .logo {
        width: 200px;
      }
    }
  }

  // &.isHome {
  //   background-color: rgba(255, 255, 255, 0.4);
  //   backdrop-filter: blur(10px);
  // }

  &.scrolled {
    background-color: transparent;
    backdrop-filter: none;
    .logo {
      display: none;
    }
  }
}
