.TermsScreen {
  padding: 70px 0;
  max-width: 1000px;
  margin: auto;

  .cont {
    margin-top: 20px;
    p {
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 18px;
      margin-left: 20px;
    }

    li {
      font-weight: 300;
      font-size: 18px;
    }

    h2 {
      font-size: 20px;
      color: $color_g4;
    }
  }

  .btn {
    text-align: center;
  }
}
