.AboutHead {
  .left {
    padding: 20px;

    h2 {
      font-weight: 300;
      font-size: 40px;
      color: $color_g4;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }

    @include respond-below(md) {
      h2 {
        font-size: 30px;
      }
    }
  }

  .right {
    position: relative;
    padding: 20px;

    img {
      border-radius: 20px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        // transform: rotate(-90deg);
    }

    > div {
      position: absolute;
      background-color: white;
      font-size: 20px;
      padding: 10px 20px;
      bottom: 0px;
      left: 50%;
      border-radius: 10px;
      transform: translate(-50%, 0);
    }
  }
}
