.BannerSection {
  position: relative;
  overflow: hidden;
  max-width: 100dvw;
  min-height: 100dvh;

  .loading {
    position: fixed;
    background-color: $color_mb;
    height: 100dvh;
    width: 100dvw;
    z-index: 1000;
    @include flexCenter;
  }

  .bg {
    // background-image: url("/coral_bg.jpg");
    background-size: cover;
    background-position: 0px -70px;
    position: absolute;
    height: 100dvh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    // filter: blur(10px);

    @include respond-below(xl) {
      background-position: 0;
    }
    @include respond-below(md) {
      background-position: center;
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    animation: zoom 40s infinite, focus 1s;
  }

  .wrap {
    width: 100%;
    // background-color: red;
    height: 100dvh;
    @include flexCenter;
    text-align: center;
    position: relative;

    h1 {
      color: white;
      font-size: 70px;
      // background-color: rgba(0, 0, 0, 0.08);
      padding: 10px;
      max-width: 900px;
      font-weight: 200;
      margin-bottom: 50px;
      //  color: $color_mb;
    }

    .arrow {
      position: absolute;
      color: white;
      bottom: 25px;
      animation: focus 1s;
      // background-color: red;
      height: 500px;
      display: flex;
      align-items: flex-end;

      p {
        font-size: 25px;
        font-weight: 300;
      }

      a {
        color: white !important;
        svg {
          font-size: 45px;
          animation: down 2s infinite;
          cursor: pointer;
        }
      }
    }
  }

  @include respond-below(md) {
    .wrap {
      h1 {
        font-size: 50px;
      }
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes focus {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

@keyframes down {
  0% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}
